{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}

<div>
  <div>
    <img
      src="https://images.unsplash.com/photo-1661366051048-363961b03c7b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="hero"
      style="width: 100%"
    />
    <div
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 50px;
      "
    >
      JOB PORTAL
    </div>
  </div>

  <div class="m-2">
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      voluptates, quod, quia, voluptate quae voluptatem quibusdam quos
      accusantium quidem voluptatum quas. Quisquam, quae. Quisquam, quae.
      Quisquam, quae. Quisquam, quae.
    </p>
  </div>

  <div class="p-2">
    <h3 class="text-center">JOBS</h3>
    <div class="row m-0">
      <div class="col-md-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt="..."
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Web Developer</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1626785774573-4b799315345d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
            alt="..."
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Graphic Designer</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1542744173-05336fcc7ad4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=802&q=80"
            alt="..."
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Data Analyst</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
